
/**  MAIN LAYOUT  **/
html { height: auto !important; }  
#body-row {
  margin: 0;
}
#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}
.admin-bar #sidebar-container {
  min-height: calc(100vh - 32px); /* remove admin-bar height */
}


/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    padding: .95rem 1.25rem;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.participants {
    position: absolute;
    min-width: 200px;
    min-height: 330px;
    z-index: 1;
    background-color: #444;
    display: block;
    color: white;
    margin-top: 164px;
    box-shadow: 4px 4px 10px 0px #4a4a4a;
}
.participants p {
  color: #dedede;
}
.participants .fa,
.participants .fas { cursor: pointer; }
.participants ul li {
    list-style: none;
    padding: 10px;
    background-color: #343A40;
    border-bottom: solid 1px #333333;
    
}
.participants ul li:hover{
    background-color: #23272B;
}
.participants ul {
    margin: 0;
    padding: 0;
}
.participants ul li .fas { color: #b7b7b7;  }
.participants ul li .fas:hover { color: white; }

.videoItem {
  background-color: black;
  border: 1px solid #666;
  height: calc(100vw * (16/9));
  /* height: 80%; */
  max-width: 80%;
  max-height: 90%;
  flex: 1;
}
@media screen and (min-width: 1200px) {
  .videoItem {
    max-width: 60%;
  }
}

.studentsRow {
  height: 150px;
  background-color: #111B22;
  position: relative;
}
.students-title {
  position: absolute;
  padding: 4px 24px;
  background: #AAA;
  font-size: 0.8em;
  display: table;
  margin: 0 auto;
  top: -12px;
  left: calc(50% - 50px);
}

.card {
  height: calc(100vh -  150px);
  border: none;
  border-radius: 0;
  background-color: #303030;
}
.card .card-header {
  background-color: #444;
  color: #dedede;
  font-weight: 300;
  border-radius: 0;
}
.admin-bar .card {
  height: calc(100vh -  150px - 32px);
}

.student-video {
  height: 100%;
  width: calc(150px * 1.33);
  display: inline-block;
  float: left;
  border: 2px solid #bbb;
  background-color: #666;
  position: relative;
}


.agora-fullscreen-container #no-local-video { top: 20%; }
.agora-fullscreen-container #mute-overlay { left: 33%; bottom: -3px; }

#main-video-container {
  max-height: calc(100% - 58px);
}

#main-video-container img {
  max-height: 100%
}

.agora .controls-bottom #buttons-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.agora .fas {
  color: #efefef;
}
.agora .main-btn .fas {
  color: white;
}

.agora .control-btn,
.agora .controls-bottom #buttons-container .control-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  min-width: 0;
  margin: 15px;
  overflow: hidden;
  background-color: white;
}
.agora .controls-bottom .control-btn:hover {
  background-color: #d7dbe4;
}
.agora .controls-bottom #buttons-container .control-btn.main-btn {
  width: 65px;
  height: 65px;
  background-color: #ce1414;
}

.agora .control-btn button,
.agora .controls-bottom #buttons-container .control-btn button {
  border: none;
  width: 100%;
  height: 100%;
  background: transparent;
}

.agora .controls-bottom #cloud-recording-container {
  min-width: auto;
  margin: 15px;
}
.agora .controls-bottom #cloud-recording-container .btn {
  box-shadow: none !important;
  width: 45px;
  height: 45px;
}

.agora .controls-bottom #lower-ui-bar {
  display: flex;
}

.agora .controls-bottom .fas.fa-share-square {
  margin-left: 3px;
  padding: 0!important;
}

.agora .controls-bottom .camSettings {
  position: absolute;
  bottom: 20px;
  right: 20px;
  min-width: 32px !important;
}
.agora .controls-bottom .camSettings button {
  cursor: pointer;
}